<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="container">
	<h2>Movie Page!</h2>
	<nav>
		<li>
			<a  routerLink="/movies" style="margin-right: 50px;"><img src="assets/img/movie.jpg" class="img-thumbnail" style="height: 100px;">Show Movies</a>
			<a routerLink="/addMovie"><img src="assets/img/add-movie.png" class="img-thumbnail" style="height: 100px;">Add Movie</a>
			</li>
	</nav>
	
  	<br/> 	
		<br/> 
		<router-outlet></router-outlet>
		<hr/>
		<h2 style="background-color: aquamarine">Add Movie Form</h2>
		<app-add-movie></app-add-movie>
		  
</div>
<app-footer></app-footer>
