<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="container">
  <h2>Movie Page!</h2>
  <a href="movies.htm"><img src="assets/img/movie.jpg" class="img-thumbnail" style="height: 100px;">Show Movies</a>
  	<br/> 	<br/> 	
  	<span id="errorMessage" style="color:red;font-size: 18px;">{{message}}</span>	
  	<br/> 
  	<form id="movieForm" name="movieForm" action="movies" method="post">
			Title :
			<input type="text" name="title" [(ngModel)]='movie.title' class="form-control" style="width: 50%"> 	
			<br/> 	
			Year :
			<select name="year" [(ngModel)]='movie.year'  class="form-control" style="width: 50%">
					<option>2018</option>
					<option>2019</option>
					<option>2020</option>
					<option>2021</option>
					<option>2022</option>
			</select>
			<br/> 	
				Director :
			<input type="text" name="director" [(ngModel)]='movie.director' class="form-control" style="width: 50%"> 	
			<br/> 	
			Language :
			<select name="language" [(ngModel)]='movie.language'  class="form-control" style="width: 50%">
					<option>English</option>
					<option>Hindi</option>
						<option>Russian</option>
			</select>
			<br/> 	
			Poster :
			<input type="text" [(ngModel)]='movie.poster' name="poster" id="poster" class="form-control" style="width: 80%"> 	
			<img src="" id="csphoto" style="height: 80px;" class="img-thumbnail">
			<br/> 	
				Story  :
				<textarea  [(ngModel)]='movie.story' name="story" rows="2" cols=""  class="form-control" style="width: 50%"></textarea>
			<br/> 	
    
			<button type="button" class="btn btn-primary"  (click)="addMovie();">{{buttonTitle}}</button>
	</form>
	<hr/>
	<table class="table table-bordered" >
        <tr><th>Title</th><th>Director</th><th>Year</th><th>Language</th><th>Story</th><th>Image</th><th>Action</th></tr>
    <tbody>
		<tr *ngFor="let movie of tmovies">
			<td>{{movie.title}}</td>
			<td>{{movie.director}}</td>
			<td>{{movie.year}}</td>
			<td>{{movie.language}}</td>
			<td>{{movie.story}}</td>
			<td><img src="{{movie.poster}}" style="height: 100px;"></td>
			<td>
					<a [routerLink]="" (click)="deleteMovie(movie)"><img src="assets/img/delete.jfif" style="height: 60px;">
					</a>
					  /
						<a [routerLink]="" (click)="editMovie(movie)"><img src="assets/img/edit.png" style="height: 60px;">
					</a>
				</td>
		</tr>
    </tbody>
  </table>
</div>
<app-footer></app-footer>
